<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/Bundles/jquery")
</head>
<body ng-app="com" class="body-content">
        @RenderBody()
    @Scripts.Render("~/Bundles/angular")
    @Scripts.Render("~/Bundles/application")
</body>
</html>