@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="header">
    <h2>Header Section</h2>
</div>
<div class="navigation" ng-include="'Client/Areas/Menu/partials/menu.html'"></div>
<div class="container">
    <div class="ng-view"></div>
</div>
<div class="header">
    <h2>Footer Section</h2>
</div>
